name: Build app and deploy to aliyun
on:
  #监听push操作
  push:
    branches:
      # master分支，你也可以改成其他分支
      - main
jobs:
  build:
    # runs-on 指定job任务运行所需要的虚拟机环境(必填字段)
    runs-on: ubuntu-latest
    steps:
      # 获取源码
      - name: Checkout
        # 使用action库  actions/checkout获取源码
        uses: actions/checkout@master
      # 安装Node13
      - uses: actions/setup-node@v3
        with:
          node-version: 16.x
      # 安装依赖
      - name: 安装包文件
        run: npm install
      # 打包
      - name: 打包
        run: npm run build
      # 部署到阿里云
      - name: 部署到阿里云
        uses: easingthemes/ssh-deploy@v2.1.1
        run: echo ${{ secrets.SERVER_SSH_KEY }}
        env:
          # 私钥
          SSH_PRIVATE_KEY: ${{ secrets.SERVER_SSH_KEY }}
          # scp参数
          ARGS: "-avzr --delete"
          # 源目录，编译后生成的文件目录
          SOURCE: "./build"
          # 服务器ip：换成你的服务器IP
          REMOTE_HOST: "112.74.162.97"
          # 用户
          REMOTE_USER: "root"
          # 目标地址 你在服务器上部署代码的地方
          TARGET: "/root/project/me-mf"